.weekly-calendar {
    display: grid;
    width: 100%;
    overflow: auto;
}

.day-column {
    display: flex;
    flex-flow: column;
}

.day-header {
    grid-area: 1 / 1 / span 1 / span 2;
}

.day-cellule:hover {
    font-weight: 600;
}

.hours {
    border: 1px solid #c6c6c6;
    flex: 1;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 50px 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(24, 1fr);
    grid-auto-flow: column;
}

.hour {
    grid-column: 1;
    font-size: 0.8em;
    padding-left: 0.5em;
}

.hour-task {
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hour-dropzone {
    grid-column-end: -1;
    min-width: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 587px) {

    .day-cellule {
        font-size: 0.6em;
        padding-left: 0.3em;
    }

    .header-name {
        line-height:3vh;
    }
}