/* _content/BlazorCalendar/WeekView.razor.rz.scp.css */
.weekly-calendar[b-gszxamswzx] {
    display: grid;
    width: 100%;
    overflow: auto;
}

.day-column[b-gszxamswzx] {
    display: flex;
    flex-flow: column;
}

.day-header[b-gszxamswzx] {
    grid-area: 1 / 1 / span 1 / span 2;
}

.hours[b-gszxamswzx] {
    border: 1px solid #c6c6c6;
    flex: 1;
    display: grid;
    justify-content: stretch;
}

.hour[b-gszxamswzx] {
    grid-column-start: 1;
    font-size: 0.8em;
    padding-left: 0.5em;
}


.hour-task[b-gszxamswzx] {
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 587px) {

    .day-cellule[b-gszxamswzx] {
        font-size: 0.6em;
        padding-left: 0.3em;
    }

    .header-name[b-gszxamswzx] {
        line-height:3vh;
    }
}
