.hidden-element {
    display: none !important;
}
.noselect {
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-top {
    cursor: n-resize;
}

.cursor-bottom {
    cursor: s-resize;
}

.header-name {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #72777b;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 6vh;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    background:#FFF;
}

.cellule-disabled {
    background: linear-gradient(-45deg, #F4F6F7 25%, #FF000000 25%, #FF000000 50%, #F4F6F7 50%, #F4F6F7 75%, #FF000000 75%, #FF000000);
    background-size: 8px 8px;
}

.fade-in {
    animation: fadeIn 0.4s;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.frame {
    width: 100%;
    overflow-x: overlay;
}
/* AnnualView.razor */
.calendar-container {
    width: 98.5%;
    height: 80vh;
    border-top-color: #d6d8db;
    border-top-style: solid;
    border-top-width: 0.05vw;
    display: flex;
    min-width: fit-content;
}

.month-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.cellule {
    border: solid #d6d8db;
    border-width: 0.00vw 0.05vw 0.05vw 0.05vw;
}

.month {
    background: #e6eaee;
    font-size: 0.8em;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
}

.day-cellule {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 0.8em;
    color: #72777b;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.day {
    width: 30%;
    max-width: 2.5vw;
}

.task {
    flex: 1;
    text-align: center;
    font-weight: 600;
    color: #000;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.border-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.border-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pin:after {
    /*http://apps.eky.hk/css-triangle-generator */
    content: "";
    position: absolute;
    height: 100%;
    right: 0px;
    border-style: solid;
    border-width: 0 0 7px 7px;
    border-color: transparent transparent #007bff transparent;
}

.pin-top:after {
    content: "";
    position: absolute;
    right: 0px;
    border-style: solid;
    border-width: 0 7px 7px 0;
    border-color: transparent #9900ff transparent transparent;
}



/* MontlyView.razor */
.monthly-calendar {
    display: grid;
    width: 100%;
    grid-template-rows: 6vh;
    /*grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-auto-rows: 120px;*/
    grid-template-columns: repeat(7, minmax(8vw, 1fr));
    grid-auto-rows: 12vh;
    overflow: auto;
}

.monthly-day {
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    border-right: 1px solid rgba(166, 168, 179, 0.12);
    text-align: right;
    padding: 0.4vh 0.4vw;
    letter-spacing: 1px;
    font-size: 0.8em;
    box-sizing: border-box;
    color: #6d7377;
    position: relative;
}
    .monthly-day:nth-of-type(n + 1):nth-of-type(-n + 7) {
        grid-row: 2;
    }

    .monthly-day:nth-of-type(n + 8):nth-of-type(-n + 14) {
        grid-row: 3;
    }

    .monthly-day:nth-of-type(n + 15):nth-of-type(-n + 21) {
        grid-row: 4;
    }

    .monthly-day:nth-of-type(n + 22):nth-of-type(-n + 28) {
        grid-row: 5;
    }

    .monthly-day:nth-of-type(n + 29):nth-of-type(-n + 35) {
        grid-row: 6;
    }

    .monthly-day:nth-of-type(n + 36):nth-of-type(-n + 43) {
        grid-row: 7;
    }

    .monthly-day:nth-of-type(7n + 1) {
        grid-column: 1/1;
    }

    .monthly-day:nth-of-type(7n + 2) {
        grid-column: 2/2;
    }

    .monthly-day:nth-of-type(7n + 3) {
        grid-column: 3/3;
    }

    .monthly-day:nth-of-type(7n + 4) {
        grid-column: 4/4;
    }

    .monthly-day:nth-of-type(7n + 5) {
        grid-column: 5/5;
    }

    .monthly-day:nth-of-type(7n + 6) {
        grid-column: 6/6;
    }

    .monthly-day:nth-of-type(7n + 7) {
        grid-column: 7/7;
    }

.monthly-day--disabled {
    color: rgba(#98a0a6, 0.6);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f4f6f7' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.monthly-today {
    border: 3px solid #f75959;
    border-radius: 5px;
}

.monthly-task {
    border-radius: 3px;
    padding: 2px 8px 2px 6px;
    margin: 3px 11px 0 9px;
    font-size: 0.8em;
    font-weight: 600;
    position: relative;
    z-index: 1;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    height:2vh;
}

.border-start {
    border-left-width: 3px !important;
    border-left-style: solid !important;
    border-left-color: #4d4d4d4c !important;
}

@media (max-width: 767.98px) {
    .monthly-task {
        padding: 0px 8px 0px 4px;
        margin: 3px 2px 0 4px;
    }
}

    /* .monthly-task:after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        right: 2px;
        top: 28%;
        border-style: solid;
        border-width: 6px 0 6px 8px;
        border-color: transparent transparent transparent #4d4d4d7a;
    }*/

    .monthly-task-first {
        align-self: start;
        margin-top: 22px;
    }

    .monthly-task-second {
        align-self: center;
        margin-top: 8px;
    }

    .monthly-task-bottom {
        align-self: end;
        margin-bottom: 14px;
    }

.monthly-more-tasks {
    position: relative;
    cursor: zoom-in;
    align-self: end;
    margin-top: 40px;
    font-size: 0.6em;
    font-weight: 600;
    color: darkblue;
    align-self: end;
    margin-left: 10px;
}


