@page "/"
@using BlazorCalendar.Models


<input type="date" value="@(today.ToString("yyyy-MM-dd"))" @onchange="@(e => ChangeFirstDate(e.Value.ToString()))" />
<input type="number" min="1" @bind-value="months">

<BlazorCalendar.AnnualCalendar  FirstDate="today" Months="months" TaskClick="TaskClick" TasksList="TasksList.ToArray()"></BlazorCalendar.AnnualCalendar>

<br />
<div class="console">@fakeConsole</div>

@code{
    private DateTime today = DateTime.Today;  
    private int months = 12;
    private List<Tasks> TasksList;
    private string fakeConsole = "";

	protected override void OnInitialized()
	{
		TasksList = new()
		{
			new Tasks { ID = 1, DateStart = today.AddDays(8), DateEnd = today.AddDays(8), Code = "CP", Color = "#19C319" },
			new Tasks { ID = 2, DateStart = today.AddDays(50), DateEnd = today.AddDays(52), Code = "DEV", Color = "#FFD800", Comment="on Teams template" },
			new Tasks { ID = 3, DateStart = today.AddDays(40), DateEnd = today.AddDays(41), Code = "FORM", Color = "#FFC3FF", ForeColor = "#FF0000" },
			new Tasks { ID = 4, DateStart = today.AddDays(62), DateEnd = today.AddDays(62), Code = "DEV", Color = "#FFD800" },
			new Tasks { ID = 5, DateStart = today.AddDays(62), DateEnd = today.AddDays(62), Code = "FORM", Color = "#FFC3FF" } ,
			new Tasks { ID = 6, DateStart = today.AddDays(73).AddHours(8), DateEnd = today.AddDays(73).AddHours(9), Code = "MEETING", Color = "#2DD7D7", Comment="Julien's test" }
		};
	}

	private void ChangeFirstDate(string value)
    {
        if (string.IsNullOrEmpty(value)) return;
		today = DateTime.Parse(value.ToString());
	}

	private void TaskClick(ClickTaskParameter clickTaskParameter)
    {
        fakeConsole = "ID task(s) :" + string.Join(", ", clickTaskParameter.IDList);
    }
}