.noselect {
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.centertext {
    text-align: center;
    vertical-align: middle;
    line-height: 20px; /* The same as div height */
}

.calendar-contener {
    width: 98.5%;
    height: 80vh;
    border-top-color: #d6d8db;
    border-top-style: solid;
    border-top-width: 0.05vw;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.month-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.month,
.day-cellule {
    height: 20px;
    border: solid #d6d8db;
    border-width: 0.00vw 0.05vw 0.05vw 0.05vw;
    font-family: "Verdana";
}

.month-cellule {
    background: #e6eaee;
    font-weight: 700;
    font-size: 0.6em;
}

.day-cellule {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 0.5em;
}

.day {
    width: 30%;
    max-width: 2.5vw;
}
.task {
    flex: 1;
    text-align: center;
    font-weight: 600;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.pointer {
    cursor: pointer;
}

.Saturday {
    background: #DBE4F2;
}

.Sunday {
    background: #CBD9ED;
}

.pin:after {
    /*http://apps.eky.hk/css-triangle-generator */
    content: "";
    position: absolute;
    height: 100%;
    right: 0px;
    border-style: solid;
    border-width: 0 0 7px 7px;
    border-color: transparent transparent #007bff transparent;
}

.pin-top:after {
    content: "";
    position: absolute;
    right: 0px;
    border-style: solid;
    border-width: 0 7px 7px 0;
    border-color: transparent #9900ff transparent transparent;
}
