.root-wrapper {
    --planning-backgound-header: #808080;
    --planning-backgound-week: var(--mud-palette-surface);
    --planning-backgound-saturday: #DBE4F2;
    --planning-backgound-sunday: #CBD9ED;
    --planning-backgound-holiday-global: #DCDCDC;
    --planning-backgound-holiday: #EAEAEA;
    --planning-height-header: 60px;
    --planning-border-header: darkgrey;
    --planning-border-cell: lightgrey;
    --planning-height-user: 40px;
}

.noselect {
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.centertext {
    text-align: center;
    vertical-align: middle;
    line-height: 20px; /* The same as div height */
}

.calendar-contener {
    width: 98.5%;
    height: 80vh;
    border-top-color: #d6d8db;
    border-top-style: solid;
    border-top-width: 0.05vw;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.month-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}


.month,
.day-cellule {
    height: 20px;
    border: solid #d6d8db;
    border-width: 0.00vw 0.05vw 0.05vw 0.05vw;
    font-family: "Verdana";
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--mud-palette-text-primary);
    
}

.month-cellule {
    background: #e6eaee;
    font-weight: 700;
    font-size: 0.6em;
}

.day-cellule {
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 0.5em;
}

.day {
    width: 30%;
    max-width: 2.5vw;
}
.task {
    flex: 1;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Saturday {
    background: #DBE4F2;
}

.Sunday {
    background: #CBD9ED;
}

