@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://tossnet.github.io/Blazor-Calendar/" target="_blank">Code</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
