<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Wasm</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Index
            </NavLink> 
        </div>      
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="annualyview">
                <span class="oi oi-calendar" aria-hidden="true"></span> Annualy view
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monthlyview">
                <span class="oi oi-calendar" aria-hidden="true"></span> Monthly view
            </NavLink> 
        </div>  
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weeklyview">
                <span class="oi oi-calendar" aria-hidden="true"></span> Weekly view
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="switchview">
                <span class="oi oi-loop-square" aria-hidden="true"></span> switch views
            </NavLink> 
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
